* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body { 
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 0.9)), url(../img/background.jpg);	
	background-size: cover;
	height: 100vh;
	color: white
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1.5rem
}

header h1 {
	font-weight: 400
}

header h1 span {
	font-weight: 200
}

header nav a {
	display: inline-block;
	text-decoration: none; 
	text-transform: uppercase;
	color: white;
	padding: 1rem;
	transition: all 0.6s linear;
	border-radius: 10px
}

header nav a:hover {
	background: rgb(38, 38, 38)
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;

	text-align: center
}

.content h2 {
	text-transform: uppercase;
	margin-bottom: 12px
}

.content p {
	font-weight: 200;
	margin-bottom: 20px
}

.content .btn {
	display: inline-block;
	margin: 2rem 0;
	padding: 1rem;

	color: #FFF;
	text-decoration: none;
	border: 1px solid #FFF;
	border-radius: 10px;

	transition: all 0.4s linear
}

.content .btn:hover {
	background: white;
	color: #4a4a4a;
	border-color: white
}

@media (max-width: 425px) {
	body {
		font-size: 14px;
	}

	header nav {
		display: none;
	}
}

@media (max-width: 768px) {
	header {
		flex-direction: column
	}

	header nav {
		margin-top: 1rem
	}
}